[submodule "src/Library/ORM/propel"]
	path = src/Library/ORM/propel
	url = git://github.com/propelorm/Propel.git
[submodule "src/Library/ORM/redbean"]
	path = src/Library/ORM/redbean
	url = git://github.com/gabordemooij/redbean.git
