body {
	background-color : #005415;
	color : #B7FF8C;	
	padding : 15px;
	font-family : monospace;
	font-size : 10pt;
	font-variant : normal;
}

a:link,a:visited,a:active {
	color : #B7FF8C; 
}

a:hover {
	color : #97DF6C; 
}
