 </div><!-- #content-->
                </div><!-- #container-->

                <aside id="sideLeft">
                        <ul>
                        	<li>Menu Item 1</li>
                        	<li>Menu Item 2</li>
                        	<li>Menu Item 3</li>
                        	<li>Menu Item 4</li>
                        	<li>Menu Item 5</li>
                        </ul>
                </aside><!-- #sideLeft -->

        </section><!-- #middle-->

        <footer id="footer">
                Footer goes here
        </footer><!-- #footer -->
</div><!-- #wrapper -->
